*{
    font-family: Arial, Helvetica, sans-serif;
}

.list.title {
    background-color: pink;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.list.bullet {
    background-color: violet;
    color: gold;
    font-size: 22px
}